<!DOCTYPE html>
<html>
<head>
    <title>Admin - Product Manager</title>
    <%- include("../partials/head.ejs") %>
    <link href="/CSS/userProfile.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/190d2f0c87.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css">
</head>
<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <main>
        <div class="userCont">
            <div class="imgTitle">
                <h2>Profile Details</h2>
                <img src="/images/users/<%=data.avatar%>">
            </div>
            <div>
                <div class="navbar">
                    <a href="">Mis Datos</a>
                    <a href="">Mis Compras</a>
                    <a href="">Carrito</a>
                </div>
                <div class="datos">
                    <h4>Nombre de usuario:</h4>
                    <p><%=data.username%></p>
                    <h4>Email:</h4>
                    <p><%=data.email%></p>
                    <h4>Nombre:</h4>
                    <p><%=data.first_name%></p>
                    <h4>Apellido:</h4>
                    <p><%=data.last_name%></p>
                    <h4>Direccion:</h4>
                    <p>calle: <%=data.street%> altura: <%=data.street_number%></p>
                    <h4>Contacto:</h4>
                    <p>Celular: <%=data.cellphone%></p>
                    <div class="edit_Button">
                        <a href="/user/<%=data.id%>/edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>
</html>