<!DOCTYPE html>
<html>
<head>
    <title>Admin - Product Manager</title>
    <%- include("../partials/head.ejs") %>
    <link href="/CSS/userProfileEdit.css" rel="stylesheet">
    <link href="/CSS/admin/prodModification.css" rel="stylesheet">
</head>
<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <main>
        <div class="userCont">
            <div class="imgTitle">
                <h2>Modificacion de usuario</h2>
                <img src="/images/users/<%=data.avatar%>">
            </div>
            <div class="dataBody">
                <form id="formProfileEdit" method="post" action="/user/<%=data.id%>/edit" enctype="multipart/form-data">
                    <div class="datos">
                        <div class="errores">
                            <% if(locals.errors){ %>
                              <% for (error of errors){ %>
                                <p><%= error.msg %></p>
                            <% }} %>
                        </div>
                        <h4>Imagen de usuario:</h4>
                        <input id="file" class="file" type="file" name="avatar">
                        <h4>Nombre de usuario:</h4>
                        <input id="username" type="text" value="<%=data.username%>" name="username">
                        <p class="nameError errores"></p>
                        <h4>Email:</h4>
                        <input id="email" type="text" value="<%=data.email%>" name="email">
                        <p class="emailError errores"></p>
                        <h4>Nombre:</h4>
                        <input id="nombre" type="text" value="<%=data.first_name%>" name="first_name">
                        <p class="nombreError errores"></p>
                        <h4>Apellido:</h4>
                        <input id="apellido" type="text" value="<%=data.last_name%>" name="last_name">
                        <p class="apellidoError errores"></p>
                        <h4>Direccion:</h4>
                        <p>calle: </p>
                        <input type="text" value="<%=data.street%>" name="street">
                        <p>altura: </p>
                        <input type="text" value="<%=data.street_number%>" name="street_number">
                        <h4>Contacto:</h4>
                        <p>Celular:</p>
                        <input type="text" value="<%=data.cellphone%>" name="cellphone">
                        <div class="save_div">
                            <a  class="cancel" href="/user/<%=data.id%>">Cancelar</a>
                            <button type="submit">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
    <script src="/js/profileEdit.js"></script>
</body>
</html>