<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hardstore</title>
    <link href="/CSS/header.css" rel="stylesheet">
    <link href="/CSS/footer.css" rel="stylesheet">
    <link href="/CSS/detail.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/190d2f0c87.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <!-- detail product -->
    <div class="general">

        <div class="productos">
            <div class="imagen">
                <h3 class="name_product"><%= producto.prod_name %></h3>
                <img class="img_product" src=/images/products/<%= producto.prod_img %> alt="monitor">
            </div>
            <div class="main-producto">
                <div class="detail-product">
                    <div class="detail-product-2">
                        <h3 class="producto-price"><%= producto.price %></h3>
                        <div class="detail-product-3">
                            <p>PRECIO ESPECIAL </p>
                            <p>EFECTIVO / TRANSFERENCIA</p>
                        </div>
                    </div>
                    <h6 class="producto-dto"><%= producto.dto %></h6>
                </div>

                <div class="icon_deus">
                    <img class="icon_deus_img" src="/images/products/ahora_12.png" alt="Logo ahora 12">
                    <div class="icon_deus_12">
                        <p>12 cuotas sin interés de $4.955,33</p>
                        <p>Sobre precio de lista</p>
                    </div>
                </div>
                <div class="icon_stock">
                    <i class="fa-solid fa-square-check"></i>
                    <div class="icon_deus_stock">
                        <p>STOCK DISPONIBLE</p>
                    </div>
                </div>

                <div class="icon_Shipping">
                    <i class="fa-solid fa-truck"></i>
                    <div class="icon_deus_12">
                        <p>ENVIO A TODO EL PAIS</p>
                        <p> Con OCA</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="button">
            <!-- ver butoon -->
            <ul class="main-ul">
                <li><img class="monitor" src=/images/products/<%= producto.prod_img %> alt="monitor"></li>
                <li><img class="monitor" src=/images/products/<%= producto.prod_img %> alt="monitor"></li>
                <li><img class="monitor" src=/images/products/<%= producto.prod_img %> alt="monitor"></li>
            </ul>
            <div>
                <a href="/login" class="ahora">
                    <button class="btn comprar">Añadir al carrito</button>
                </a>
                <a href="/productCart" class="ahora">
                    <button class="btn comprar">Comprar Ahora</button>
                </a>
            </div>
        </div>
        <br>
        <div class="detallePro">
            <h3>Detalle del Producto</h3>
            <p><%= producto.tamaño%></p>
            <hr>
            <p><%= producto.tipo %></p>
            <hr>
            <p><%= producto.color %> </p>
            <hr>
            <p><%= producto.descripcion %></p>
            <hr>
            <p><%= producto.tecno %></p>
        </div>

        <br>
        <div class="main-interesar">
            <h4>Te puede interesar</h4>
        </div>

        <div class="interes">
            <i class="fas fa-angle-left"></i>
            <img src="/images/products/monitor.webp" alt="monitor">
            <img src="/images/products/monitor.webp" alt="monitor">
            <img src="/images/products/monitor.webp" alt="monitor">
            <i class="fas fa-angle-right"></i>
        </div>
        <div class="interes-2">
            <i class="fas fa-angle-left"></i>
            <img src="/images/Monitores.jpg" alt="monitor">
            <i class="fas fa-angle-right"></i>
        </div>
    </div>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>

</body>