<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hardstore</title>
    <link href="/CSS/header.css" rel="stylesheet">
    <link href="/CSS/footer.css" rel="stylesheet">
    <link href="/CSS/detail.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/190d2f0c87.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <!-- detail product -->
    <div class="general">

        <div class="productos ">

            <div class="imagen">
                <div>
                    <h3 class="name_product"><%= producto.prod_name %></h3>
                    <img class="img_product" src=/images/products/<%= producto.prod_img %> alt="monitor">
                </div>
                <ul class="main-ul">
                    <li><img class="monitor" src=/images/products/<%= producto.prod_img %> alt="monitor"></li>
                    <li><img class="monitor" src=/images/products/<%= producto.prod_img %> alt="monitor"></li>
                    <li><img class="monitor" src=/images/products/<%= producto.prod_img %> alt="monitor"></li>
                </ul>
            </div>

            <div class="main-producto">
                <div class="detail-product">
                    <div class="detail-product-2">
                        <h3 class="producto-price"><%= producto.price %></h3>
                        <div class="detail-product-3">
                            <p>PRECIO ESPECIAL </p>
                            <p>EFECTIVO / TRANSFERENCIA</p>
                        </div>
                    </div>
                    <h6 class="producto-dto">Precio lista: <%= producto.price_list %></h6>
                </div>

                <div class="icon_deus_principal">
                    <div class="icon_deus">
                        <img class="icon_deus_img" src="/images/detailView/ahora_12.png" alt="Logo ahora 12">
                        <div class="icon_deus_12">
                            <p>12 cuotas sin interés de $4.955,33</p>
                            <p>Sobre precio de lista</p>
                        </div>
                    </div>

                    <div class="icon_deus">
                        <i class="fas fa-check"></i>
                        <div class="icon_deus_stock">
                            <p>STOCK DISPONIBLE</p>
                        </div>
                    </div>

                    <div class="icon_deus">
                        <i class="fas fa-truck"></i>
                        <div class="icon_deus_send">
                            <p>ENVIO A TODO EL PAIS</p>
                            <p> Con OCA</p>
                        </div>
                    </div>

                    <div class="icon_deus">
                        <i class="fas fa-user-shield"></i>
                        <div class="icon_deus_product">
                            <p>PRODUCTO CON GARANTIA</p>
                        </div>
                    </div>
                </div>

                <div class="button">
                    <div>
                        <a href="/login" class="ahora">
                            <button class="btn comprar">Añadir al carrito</button>
                        </a>
                        <a href="/productCart" class="ahora">
                            <button class="btn comprar">Comprar Ahora</button>
                        </a>
                    </div>
                </div>

            </div>

        </div>

        <div class="detail_product_title">
            <p>Detalle del Producto</p>
        </div>
        <div class="detail_product">
            <div class="detail-product_text">
                   <div class="row">
                    La silla de juegos CORSAIR T3 RUSH combina un diseño inspirado en las carreras y una comodidad
                    contorneada con un exterior de tela suave y transpirable, una almohada cervical acolchada y un
                    soporte lumbar de espuma viscoelástica.
               
                    Altura máxima del asiento: 54cm
                    Altura mínima del asiento: 44cm
                    Altura máxima del brazo: 36,5cm
                    Altura mínima del brazo: 28,5cm
                    Altura del respaldo: 85cm
                    Ancho del hombro del respaldo: 54cm
                    Tamaño del paquete: 88,5 x 69 x 37,5 cm
                    Peso neto: 22,5 kg
                    Peso bruto: 25,5 kg
                    Capacidad de peso: 120 kg
                    Almohada lumbar ajustable: si
                    Almohada de cuello ajustable: si
                    Material de la base de la silla: Nylon
                    Tamaño de la rueda: 65 mm
                    Material de la rueda: Nylon
                    Tamaño del asiento: Los 56cm los x 58cm
                    Tipo de espuma de asiento: Espuma de poliuretano (espuma fría)
                    Densidad de la espuma del asiento: 55 kg / m³
                    Color del marco del asiento: Negro
                    Construcción del marco del asiento: Metal
                    Material de la superficie del asiento: Tela Suave
                    Material del respaldo del asiento: Tela Suave
                
                 
                   </div>
                   
            </div>

        </div>

        <div class="add-product">
            <h2>Personas que compraron este producto también compraron</h2>
            <div class="add-product-table">
                <% showRandom.forEach(function(product){%>
                <div class="add-item">
                    <img src=images/products/<%= product.prod_img %> alt="<%=product.prod_name%>"
                        class="product-add-image">
                    <ul class="details">
                        <li>
                            <p><%= product.prod_name %></p>
                        </li>
                        <li>
                            <p class="price"><%= product.price %></p>
                        </li>
                        <li><button class="btn btn-primary btn-addCart">Agregar a carrito</button></li>
                    </ul>
                </div>
                <% }) %>
            </div>
        </div>

    </div>

    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>

</body>