<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hardstore</title>
    <link href="/CSS/detail.css" rel="stylesheet">

    <link href="/CSS/header.css" rel="stylesheet">
    <link href="/CSS/footer.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/190d2f0c87.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <!-- detail product -->
    <div class="general">

        <div class="productos">
            <div class="imagen">
                <h3 class="name_product"><%= producto.prod_name %></h3>
                <img class="img_product" src=/images/products/<%= producto.prod_img %> alt="monitor">
            </div>
            <div class="main-producto">
                <div class="precio-stock">
                    <div class="detail-product">
                        <h3 class="producto-price"><%= producto.price %></h3>
                        <p><%= producto.offer %></p>
                    </div>
                    <h3 class="producto-dto"><%= producto.dto %></h3>
                    <h3 class="producto-price-dto"><%= producto.price_dto %></h3>
                    <br>
                    <a href="#" class="stock">
                        <p class="producto-stock"> <i class="fas fa-check"></i><%= producto.stock %></p>
                    </a>
                </div>
                <div class="cuotas-envios">
                    <p class="cuotas"><%= producto.prod_deus %> <i class="fas fa-credit-card"></i></p>
                    <br>
                    <a href="#" class="envios">
                        <p class="main-envios">Envios gratis</p>

                    </a>

                </div>
            </div>
        </div>
        <div class="button">
            <!-- ver butoon -->
            <ul class="main-ul">
                <li><img class="monitor" src=/images/products/<%= producto.prod_img %> alt="monitor"></li>
                <li><img class="monitor" src=/images/products/<%= producto.prod_img %> alt="monitor"></li>
                <li><img class="monitor" src=/images/products/<%= producto.prod_img %> alt="monitor"></li>
            </ul>

            <a href="/compra.html" class="ahora">
                <button class="btn comprar">Comprar Ahora</button>
            </a>
        </div>

        <br>
        <div class="detallePro">
            <h3>Detalle del Producto</h3>                
            <p><%= producto.tamaño%></p>
            <hr>
            <p><%= producto.tipo %></p>
            <hr>
            <p><%= producto.color %> </p>
            <hr>
            <p><%= producto.descripcion %></p>
            <hr>
            <p><%= producto.tecno %></p>
        </div>

        <br>
        <div class="main-interesar">
            <h4>Te puede interesar</h4>
        </div>

        <div class="interes">
            <i class="fas fa-angle-left"></i>
            <img src="/images/products/monitor.webp" alt="monitor">
            <img src="/images/products/monitor.webp" alt="monitor">
            <img src="/images/products/monitor.webp" alt="monitor">
            <i class="fas fa-angle-right"></i>
        </div>
        <div class="interes-2">
            <i class="fas fa-angle-left"></i>
            <img src="/images/Monitores.jpg" alt="monitor">
            <i class="fas fa-angle-right"></i>
        </div>
    </div>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>

</body>