<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hardstore</title>
    <link href="CSS/header.css" rel="stylesheet">
    <link href="CSS/home.css" rel="stylesheet">
    <link href="CSS/footer.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/190d2f0c87.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>

    <main>
        <div class="cell_phone">
            <h3 class="seccion_title">¿Que estas buscando?</h3>
            <div class="categories">
                <a href="products"><img src="images/tecl_mouse.jfif"><p>Teclados y Mouses</p></a>
                <a href=""><img src="images/monitores.jpg"><p>Monitores</p></a>
                <a href=""><img src="images/auris.png"><p>Auriculares y Parlantes</p></a>
                <a href=""><img class="img_juegos" src="images/games.png"><p>Juegos</p></a>
                <a href=""><img src="images/silla.jpg"><p>Sillas Gamer</p></a>
                <a href=""><p>Todos los productos</p></a>
            </div>
        </div>

        <div class="desktop">
            <p class="carrusel">
                <img class="baner" src="images/baner_navidad.png" alt="Falta banner">
            </p>
            <form action="/products" method="get">
                <div class="search_bar">
                    <i class="fas fa-search"></i>
                    <input type="text" name="search" id="search">
                    <button type="submit">Buscar</button>
                </div>
            </form>
            <div class="nav">
                <ul class="nav_bar" type="none">
                    <li><a href="/products">Teclados</a></li>
                    <li>Mouses</li>
                    <li>Headsets</li>
                    <li>Monitores</li>
                </ul>

                <ul class="nav_bar" type="none">
                    <li>Parlantes</li>
                    <li>Sillas Gamer</li>
                    <li>Juegos</li>
                </ul>
            </div>
            <hr class="line">

            <div class="categories">
                <a href="products/galery"><img src="images/tecl_mouse.jfif"><p>Teclados y Mouses</p></a>
                <a href=""><img src="images/monitores.jpg"><p>Monitores</p></a>
                <a href=""><img src="images/auris.png"><p>Auriculares y Parlantes</p></a>
                <a href=""><img src="images/silla.jpg"><p>Sillas Gamer</p></a>
            </div>
            
            <div class="destacados">
                <h4>LO MAS VENDIDO</h4>
                <hr class="line">
                <div class="products">
                    <% for (product of mostSold){ %>
                        <a href="Products">
                            <img src=<%= product.prod_img %> >
                            <p class="prod_name"><%= product.prod_name %></p>
                            <div class="prices">
                                <hr>
                                <p class="price"><%= product.price %></p>
                                <div class="price_down">
                                    <p class="price_dto"><%= product.price_dto %></p>
                                    <p class="dto"><%= product.dto %></p>
                                </div>
                            </div>
                            <p class="envios">Envios a todo el pais</p>
                        </a>
                    <% } %>
                </div>
                <h4>NUESTRA SELECCION</h4>
                <hr class="line">
                <div class="products">
                    <% for (product of ourSelection){ %>
                        <a href="Products">
                            <img src=<%= product.prod_img %> >
                            <p class="prod_name"><%= product.prod_name %></p>
                            <div class="prices">
                                <hr>
                                <p class="price"><%= product.price %></p>
                                <div class="price_down">
                                    <p class="price_dto"><%= product.price_dto %></p>
                                    <p class="dto"><%= product.dto %></p>
                                </div>
                            </div>
                            <p class="envios">Envios a todo el pais</p>
                        </a>
                    <% } %>
                </div>
                <h4>OFERTAS</h4>
                <hr class="line">
                    <div class="products">
                        <% for (product of offers){ %>
                            <a href="Products">
                                <img src=<%= product.prod_img %> >
                                <p class="prod_name"><%= product.prod_name %></p>
                                <div class="prices">
                                    <hr>
                                    <p class="price"><%= product.price %></p>
                                    <div class="price_down">
                                        <p class="price_dto"><%= product.price_dto %></p>
                                        <p class="dto"><%= product.dto %></p>
                                    </div>
                                </div>
                                <p class="envios">Envios a todo el pais</p>
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>

</body>
</html>
