<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head.ejs") %>
    <link href="CSS/productCart.css" rel="stylesheet">
    
</head>
<body>
     <header>
            <%- include("./partials/header.ejs") %>
        </header>
    <div class="grid-container">
        
        <div class="table-cart">
            <h2>MI CARRITO</h2>
            <% for (product of itemCart){ %>
            <div class="item">
                <img src=images/products/<%= product.prod_img %> alt="Monitor" class="product-image">
                <ul class="item-order">
                    <li><p class="name"><%= product.prod_name %></p></li>
                   <li><div class="quantity"> <div class="quantity-buttons">
                            <input type="button" value="-" class="minus"><input type="tel" class="Qty-value" value="1"><input type="button" value="+" class="plus"></div>
                        </div>
                    </li>
                    <li><p class="price"><%= product.price %></p></li>
                    <li><div class="delete">
                            <button type="button"><i class="fas fa-times"></i></button>
                        </div>
                    </li>
                </ul>
            </div>
            <% } %>
        </div>
        <div class="pago">
            <div class="cupon">
                <label for="codigo">¿Tenés un cupon de descuentos?</label>
                <div class="input-coupon"> <input type="text" class="coupon-box" name="cupon" placeholder="Código" id="codigo"> <span class="input-group-append"> <button class="btn-apply-coupon">APLICAR</button> </span> </div>
            </div>
            <div class="buy">
                <div class="buy-table">
                    <div class="table-price">
                    <dl class="Sub-total">
                    <dt>Sub-total</dt>
                    <dd class="Price-right">$167.998</dd>
                    </dl>
                    <dl class="total">
                    <dt><strong>Total</strong></dt>
                    <dd class="Price-right bold"><strong>$167.998</strong></dd>
                    </dl></div>
                    <button class="btn-buy">FINALIZAR COMPRA</button> 
                </div>
            </div>
        </div>
        <div class="add-product">
            <h2>Personas que compraron este producto también compraron</h2>
            <div class="add-product-table">
                <% showRandom.forEach(function(product){%>
                <div class="add-item">
                    <img src=images/products/<%= product.prod_img %> alt="<%=product.prod_name%>" class="product-add-image">
                        <ul class="details">
                        <li><p><%= product.prod_name %></p></li>
                        <li><p class="price"><%= product.price %></p></li>
                        <li><button class="btn btn-primary btn-addCart">Agregar a carrito</button></li>
                        </ul>
                </div>
                <% }) %>
            </div>
        </div>

    
    </div>
    <footer class="footer">
            <%- include("./partials/footer.ejs") %>
    </footer>
</body>
</html>