<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include("./partials/head.ejs") %>
      <title>register Hardstore</title>
      <link href="/CSS/register.css" rel="stylesheet" >
      <!-- iconos -->
      <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
      <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
  </head>
  <body>
      <header>
        <%- include("./partials/header.ejs") %>
      </header>
      <main>
        <header class="register">
          <h2>Registrarme</h2>
          <span class="iconify" data-icon="ion:person-outline"></span>
        </header>
        <form action="/register" method="POST" enctype="multipart/form-data">
          <input type="name" placeholder="Usuario" name="userName" value="<%= locals.old ? old.userName : '' %>" > 
          <input type="email" placeholder="email" name="email" value="<%= locals.old ? old.email : '' %>">
          <input type="contraseña" placeholder="Contraseña" name="password">
          <input type="contraseña" placeholder="Repite tu contraseña" name="password_repeat">
          <p>Imagen de usuario</p>
          <input class="file" type="file" name="avatar">
          <button type="submit" class="mensaje">Registrarme</button>
        </form>
        <div class="errores">
          <% if(locals.errors){ %>
            <% for (error of errors){ %>
              <p><%= error.msg %></p>
          <% }} %>
        </div>
        <hr>                     
        <p>Registrate con:</p>
        <div class= icons>
          <i class='bx bxl-instagram'></i>
          <span class="iconify-inline" data-icon="logos:google-gmail"></span>
          <i class='bx bxl-facebook-circle' ></i>
          </div>
        <p>¿Ya tenes cuenta?</p>
        <a href="/login">Hace click acá</a>
      </main>
      <footer>
        <%- include("./partials/footer.ejs") %>
      </footer>
  </body> 
</html> 