<!DOCTYPE html>
<html>
    <head>
        <title>Admin - Product Manager</title>
        <%- include("../partials/head.ejs") %>
        <link href="/CSS/admin/prodCreation.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <%- include("./partials/header.ejs") %>
        </header>
        <main>
            <h1>Creación de datos de producto</h1>
            <div class="data">
                <div class="newData">
                    <form action="/admin/products/create" method="POST" enctype="multipart/form-data" >
                        <h3>Nuevos datos</h3>
                        <label for="categoria">Categoria de Producto</label>
                        <select name="category" id="categoria" >
                            <option value="" disabled selected>- Seleccioná la Categoría - </option> 
                                <% categories.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.category_name %></option>
                                <% }); %>
                        </select>
                        <label>Nombre de Producto</label>
                        <input type="text" name="prodName" placeholder=" Nombre de Producto">
                        <label>Marca</label>
                        <input type="text" name="brand" placeholder="Marca">
                        <label>Modelo</label>
                        <input type="text" name="model" placeholder="Modelo">
                        <label>Color</label>
                        <input type="text" name="color" placeholder="Color">
                        <label>Precio $</label>
                        <input type="number" name="price" placeholder="$">
                        <label>Descuento %</label>
                        <input type="number" name="dto" placeholder="%">
                        <label>Descripcion</label>
                        <input type="textarea" name="description" placeholder="Descripción">
                        <p>Caracteristicas:</p>
                        <div class="caracteristicas">
                            <label><input type="checkbox" name="mostSold" value="true" > Mas vendido </label>
                            <label><input type="checkbox" name="selection" value="true"> Nuestra seleccion </label>
                            <label><input type="checkbox" name="offer" value="true"> Ofertas </label>
                        </div>
                        <p>Imagen del producto</p>
                        <input class="file" type="file" name="prodImg">
                        
                        <div class="buttons">
                            <button type="reset">Cancelar</button>
                            <button type="submit">Crear producto</button>
                        </div>
                    </form>
                    
                        <% if (locals.mesage) { %>
                            <h4 class="mesage"> <%= mesage %> </h4>
                        <% } %>
                </div>
            </div>
        </main>
        <footer>
            <%- include("./partials/footer.ejs") %>
        </footer>
    </body>
</html>