<!DOCTYPE html>
<html>
<head>
    <title>Admin - Product Manager</title>
    <%- include("../partials/head.ejs") %>
    <link href="/CSS/admin/prodModification.css" rel="stylesheet">
</head>
<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <main>
        <h1>Modificacion de datos de producto</h1>
        <div class="data">
            <div class="newData">
                
                <form id="formModification" action="/admin/products/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                   <ul class='errores'></ul>
                    <h3>Producto ID: <%= oneProduct.product_id %></h3>
                    <label for="categoria">Categoria de Producto</label>
                    <select name="categoria" id="categoria" form="categoria">
                      <% for (category of allCategories){ %>
                            <option value="<%= category.id %>">
                                <%= oneProduct.category_id === category.id ? 'selected' : null %>>
                                <%= category.category_name %>
                            </option> 
                            <% } %>
                    </select>
                    <label>Nombre de Producto</label>
                    <input id="inputName" type="text" name="prodName" placeholder ='Nombre'> 
                    <p class="error"></p>
                    <label>Marca</label>
                    <input id="inputBrand" type="text" name="brand" value="<%= oneProduct.brand%>" placeholder ='Marca'>
                    <p class="error"></p>
                    <label>Modelo</label>
                    <input id="inputModel" type="text" name="model" value="<%= oneProduct.model%>" placeholder ='Modelo'>
                    <h1 class="error"></h1>
                    <label>Color</label>
                    <input type="text" name="color"  id='prodColor' placeholder="Color" placeholder ='Color'>
                    <p class="error"></p>
                    <label>Precio</label>
                    <input id="inputPrice" type="text" name="price" value=<%= oneProduct.price%> placeholder ='Precio'>
                    <p class="error"></p>
                    <label>Descuento</label>
                    <input id="inputDto" type="text" name="dto" value=<%= oneProduct.discount%> placeholder ='Descuento'>
                    <p class="error"></p>
                    <label>Stock</label>
                    <p class="error"></p>
                    <input id="inputStock" type="number" name="stock"  placeholder ='stock' value="0">
                    <label>Descripción</label>
                    <textarea id="inputDescrip" name="description" placeholder="Descripción"></textarea>
                    <p>Caracteristicas:</p>
                    <div class="caracteristicas">
                        <label><input id="inputCategori" type="checkbox" name="selection" > Mas vendido </label>
                        <label><input id="inputCategori" type="checkbox" name="selection" > Nuestra seleccion </label>
                        <label><input id="inputCategori" type="checkbox" name="selection" > Ofertas </label>
                    </div>
                    <p>Imagen del producto</p>
                    <input id="formFile" type="file" name="prodImg">
                    <div class="buttons">
                        <button type="reset">Reset</button>
                        <button type="submit">Guardar</button>
                    </div>
                </form>
                <% if (locals.mesage) { %>
                    <h4 class="mesage">
                        <%= mesage %>
                    </h4>
                    <% } %>
    </div>
    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
    <script src="/js/adminProdModification.js"></script>
</body>
</html>