<!DOCTYPE html>
<html>
<head>
    <title>Admin - Product Manager</title>
    <%- include("../partials/head.ejs") %>
    <link href="/CSS/admin/prodModification.css" rel="stylesheet">
</head>
<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <main>
        
        <h1>Modificacion de datos de producto</h1>
        <div class="data">
            <div class="newData">

                <form action="/admin/products/<%=product.prod_id%>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                    <h3>Nuevos datos</h3>
                    <label for="categoria">Categoria de Producto</label>
                    <select name="categoria" id="categoria" form="categoria">
                        <option value="volvo"><%= product.prod_category%></option>
                        <option value="saab">headsets</option>
                        <option value="opel">sillas</option>
                        <option value="audi">teclados</option>
                        <option value="audi">mouses</option>
                        <option value="audi">parlantes</option>
                        <option value="audi">juegos</option>
                    </select>
                    <label>Nombre de Producto</label>
                    <input type="text" name="prodName" value="<%= product.prod_name%>">
                    <label>Precio</label>
                    <input type="text" name="price" value=<%= product.price%>>
                    <label>Descuento</label>
                    <input type="text" name="dto" value=<%= product.dto%>>
                    <label>Precio con Descuento</label>
                    <input type="text" name="pricedto" value=<%= product.price_dto%>>
                    <label>Descripción</label>
                    <textarea name="description"><%= product.descripcion%></textarea>
                    <p>Caracteristicas:</p>
                    <div class="caracteristicas">
                        <label><input type="checkbox" name="mostSold" > Mas vendido </label>
                        <label><input type="checkbox" name="selection" > Nuestra seleccion </label>
                        <label><input type="checkbox" name="offer" > Ofertas </label>
                    </div>
                    <p>Imagen del producto</p>
                    <input class="file" type="file" name="prodImg">
                    
                    <div class="buttons">
                        <button type="reset">Reset</button>
                        <button type="submit">Guardar</button>
                    </div>
                </form>
            </div>
            
    </div>
    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>
</html>