<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hardstore</title>
    <link href="/CSS/prod_gal.css" rel="stylesheet">
    <link href="/CSS/footer.css" rel="stylesheet">
    <link href="/CSS/header.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/190d2f0c87.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>    
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <main>
        <div class="filt-ord">
            <p class="filtro-desplegable">Filtrar: <i class="fas fa-sort-down"></i></p>
            <p class="ordenar-por">Ordenar por: <i class="fas fa-sort-down"></i></p>
        </div>
        <div class="options crear"><a href="/admin/products/create" class="action-button edit crear">CREAR NUEVO</a> </div>
        <hr>
        <div class="filt-prod">
            <div class="filtro">
                <p>Soy un filtro de productos</p>
            </div>
            <div class="productos">
                <div class="producto">
                    <% for (product of results){ %>
                        <hr/>
                        <a href="/products/<%= product.product_id %>">
                            <div class="img"><img src=/images/products/<%= product['images.image_name']%> ></div> 
                            <div class="info">
                                <h4 class="product_name"><%= product.product_name %></h4>
                                <div class="prices">
                                    <p class="price">$<%= product.price %></p>
                                    <p class="price_dto">"Precio Descuento"</p>
                                    <p class="dto"><%= product.discount %>% OFF</p>
                                </div>
                            </div>
                            <div class="options">
                                <a href="/admin/products/<%= product.product_id %>/edit" class="action-button edit">MODIFICAR</a>
						        <form action="/admin/delete/<%= product.product_id %>?_method=DELETE" method="POST" style="display: inline-flex">
							        <button type="submit" class="action-button delete">ELIMINAR</button>
						        </form>
                            </div>
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>
</html>