<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hardstore</title>
    <link href="/CSS/header.css" rel="stylesheet">
    <link href="/CSS/footer.css" rel="stylesheet">
    <link href="/CSS/detail.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/190d2f0c87.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <!-- detail product -->
    <div class="general">
        <div class="productos ">

            <div class="imagen">
                <div>
                    <h3 class="name_product"><%= product.product_name %></h3>
                    <img class="img_product" src=/images/products/<%= product['images.image_name']%> alt="img">
                </div>
                <ul class="main-ul">
                    <li><img class="monitor" src=/images/products/<%= product['images.image_name']%> alt="img"></li>
                    <li><img class="monitor" src=/images/products/<%= product['images.image_name']%> alt="img"></li>
                    <li><img class="monitor" src=/images/products/<%= product['images.image_name']%> alt="img"></li>
                </ul>
            </div>

            <div class="main-producto">
                <div class="detail-product">
                    <div class="detail-product-2">
                        <h3 class="producto-price">$<%= product.price %></h3>
                        <div class="detail-product-3">
                            <p>PRECIO ESPECIAL </p>
                            <p>EFECTIVO / TRANSFERENCIA</p>
                        </div>
                    </div>
                    <h6 class="producto-dto">Dscuento: $<%= product.discount %></h6>
                </div>

                <div class="icon_deus_principal">
                    <div class="icon_deus">
                        <img class="icon_deus_img" src="/images/detailView/ahora_12.png" alt="Logo ahora 12">
                        <div class="icon_deus_12">
                            <p>12 cuotas sin interés Sobre precio de</p>
                            <p> lista </p>
                        </div>
                    </div>

                    <div class="icon_deus">
                        <i class="fas fa-check"></i>
                        <div class="icon_deus_stock">
                            <p>STOCK DISPONIBLE</p>
                        </div>
                    </div>

                    <div class="icon_deus">
                        <i class="fas fa-truck"></i>
                        <div class="icon_deus_send">
                            <p>ENVIO A TODO EL PAIS</p>
                            <p> Con OCA</p>
                        </div>
                    </div>

                    <div class="icon_deus">
                        <i class="fas fa-user-shield"></i>
                        <div class="icon_deus_product">
                            <p>PRODUCTO CON GARANTIA</p>
                        </div>
                    </div>
                </div>

                <div class="button">
                    <div>
                        <a href=/addToCart/<%= product.id %> class="ahora">
                            <button class="btn comprar">Añadir al carrito</button>
                        </a>
                        <a href="/" class="ahora">
                            <button class="btn comprar">Comprar Ahora</button>
                        </a>
                    </div>
                </div>

            </div>

        </div>

        <div class="detail_product_title">
            <p>Detalle del Producto</p>
        </div>

        <div class="detail_product">
            <div class="detail-product_text">
                   <div class="row">
                       <p><%= product.description %></p>
                    
                       <p>Color: <%= product.color %></p>
                        
                        <p>Modelo: <%= product.model %></p>
                        
                        <p>Marca: <%= product.brand%></p>

                   </div>
            </div>

        </div>
        <div class="title-product-interest">
            <h2>Personas que compraron este producto también compraron</h2>
        </div>

    </div>

    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>

</body>